.p-toast .p-toast-message {
  font-family: Arial, sans-serif;
}

.p-toast .p-toast-message-content {
  font-family: Arial, sans-serif;
}

.p-toast .p-toast-summary {
  font-family: Arial, sans-serif;
}

.p-toast .p-toast-detail {
  font-family: Arial, sans-serif;
}
